<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Framework Tests" verbose="2">

	<parameter name="browse" value="Chrome"></parameter>
	<parameter name="driverpath"
		value="src/test/resources/selenium_standalone_binaries/osx/googlechrome/64bit/chromedriver"></parameter>

	<parameter name="testLogLevel" value="info"></parameter>
	<parameter name="baseURL"
		value="https://www.w3schools.com/html/html_tables.asp"></parameter>
	<parameter name="ScreenShotDirectory" value="Screenshot"></parameter>
	<parameter name="TestExitReport" value="src/test/resources/test_exit.xlsx"></parameter>

	<listeners>
		<listener class-name="com.utils.Listeners"></listener>
	</listeners>

	<test name="SmokeTest" preserve-order="true">
		<classes>
			<class name="com.htmltables.HtmlTable"></class>
			<class name="com.htmltables.HtmlTable2"></class>
		</classes>
	</test>
</suite>